.chart-footer-panel {
  display: inline-block;

  margin: 5px 5px 0;

  border: 1px solid #e0e0e0;
  border-bottom: none;
  button {
    min-width: 102px;
    height: 30px;

    border: none;
    background-color: #eff1f4;
    &:hover {
      background-color: #fff;
    }
    &.active {
      background-color: #fff;
    }
  }
  .panel-board {
    height: 290px;

    background-color: #fff;
  }
}
