.chart-layout {
  -webkit-user-select: none;
          user-select: none;

  input {
    font-family: inherit;
    font-size: 13px;
    font-weight: 600;

    height: 32px;
    padding: 0 0 0 7px;

    vertical-align: bottom;

    color: #524f4f;
    border: 1px solid #c9cbcd;
    background-color: #fff;
  }
}

/* 图表区域 */
.chart-body {
  -webkit-user-select: none;
          user-select: none;

  border: 1px solid #c9cbcd;
  background: #fff;
}

.chart-line {
  font-size: 0;

  overflow: hidden;
}
.chart-line canvas {
  position: absolute;
}
.chart-line .chart-plot {
  position: relative;

  display: inline-block;

  cursor: crosshair;
}
.chart-line .chart-axisx {
  display: inline-block;

  cursor: ew-resize;
}
.chart-line .chart-axisy {
  display: inline-block;

  cursor: ns-resize;
}
.chart-separator {
  height: 1px;
  background: #000;
}
