.chart-ma-settings {
  padding-right: 100px;

  td:first-child {
    padding-right: 12px;
  }
  label {
    margin-left: 4px;
  }
  input {
    height: 27px;

    vertical-align: middle;
  }
  tr {
    line-height: 32px;
  }
}
