.chart-layout {
  /* 导航栏 */
  .chart-navbar {
    position: relative;

    display: inline-block;

    padding: 5px 5px;
  }
  .resolution-btn-group {
    margin-left: 100px;
  }
  .right-btn-group {
    margin-left: 8px;
  }
}
