.chart-self-select {
  font-size: 10px;
  font-weight: bold;
  .header {
    width: 914px;

    color: #424242;
    th {
      line-height: 42px;
    }
  }
  .body {
    position: relative;

    overflow: hidden;

    width: 914px;
    height: 278px;

    color: #616161;
  }
}
