.chart-tools {
  float: left;

  width: 52px;
  height: 100%;

  background: #fff;
  &-group {
    padding: 5px;
  }
  &-btn {
    display: inline-block;

    border: 1px solid transparent;
    &:hover {
      border: 1px solid #c9cbcd;
    }
  }
  &-btn-main {
    display: inline-block;

    width: 30px;
    height: 30px;
  }
  &-btn-more {
    display: none;

    width: 9px;
    height: 30px;

    border-left: 1px dotted #c9cbcd;
    background: url(./more.svg) no-repeat no-repeat;
    background-position: 50% 50%;
  }
  &-btn:hover &-btn-more {
    display: inline-block;
  }
  &-btn:active &-btn-more {
    background-color: #f2f5f8;
  }
  .selected &-btn-main {
    background-color: #f2f5f8;
  }
  .selected &-btn {
    border: 1px solid #c9cbcd;
  }
  .selected &-btn-more {
    display: inline-block;
  }
  &-trend-line {
    background: url(./linetool.svg) no-repeat no-repeat;
  }
  &-trend-angle {
    background: url(./trendangle.svg) no-repeat no-repeat;
  }
}
