.chart-tick-list {
  font-size: 14px;

  position: relative;

  overflow: hidden;

  padding: 5px 15px;
  table {
    width: 100%;
  }
  tr td:last-child {
    text-align: right;
    > svg {
      display: none;

      width: 10px;
      height: 12px;
      margin-left: 2px;
    }
  }
  .positive svg,
  .negative svg {
    display: inline-block!important;
  }
  .positive svg {
    fill: #b71c1c;
  }
  .negative svg {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);

    fill: #00796b;
  }
}
