.chart-footerbar {
  display: inline-block;
  overflow: hidden;

  height: 22px;
  margin: 0 5px;

  border: 1px solid #c9cbcd;
  border-top: none;
  background: #e6e9ed;
  .mini-btn {
    font-size: 11px;
    font-weight: 700;
    line-height: 22px;

    position: relative;

    display: inline-block;

    height: 22px;
    margin: 0 0 1px 0;
    padding: 0 13px;

    color: #8b8c8e;
    &.active {
      color: #58c3e5!important;
    }
    &:after {
      position: absolute;
      top: 4px;
      right: 0;

      width: 1px;
      height: 14px;

      content: ' ';

      background: #d0d4d9;
    }
    &:last-child:after {
      width: 0;
    }
    &:hover {
      color: #333;
      background: #eee;
    }
  }
}
