.chart-stock-detail {
  font-size: 13px;
  line-height: 2;

  display: block;

  width: 100%;

  border-top: 1px solid #e0e0e0;
  th {
    padding-left: 15px;

    text-align: left;
  }
  td {
    text-align: right;
  }
  tr td:last-child {
    padding-right: 15px;
  }
}
