.financing {
  font-size: 13px;

  position: relative;

  overflow: hidden;
  h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;

    height: 35px;
    padding: 10px 0 9px 11px;

    white-space: nowrap;

    color: #5a5c62;
    border-top: 1px solid #e0e0e0;
    background: #f1f3f6;
  }
  .no-financing-info {
    margin-top: 100px;

    text-align: center;
  }
}
