@import url(./normalize.css);

html {
  font: 16px/1 'Helvetica Neue',Helvetica,Arial,sans-serif;

  height: 100%;

  cursor: default;

  background: #fff;

  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  overflow: hidden;
}

* {
  cursor: inherit;

  outline: none;
}

input,
textarea,
select {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: .3125rem;

  box-sizing: border-box;

  vertical-align: bottom;
}

input:disabled,
textarea:disabled,
select:disabled {
  background: inherit;
}

input[type='text'] {
  font-size: 12px;
  font-weight: 600;

  height: 30px;
  padding: 0 0 0 7px;

  cursor: auto;
  vertical-align: bottom;

  color: #bdbdbd;
  border: 1px solid #e0e0e0;
  border-radius: 0;
  background: #fff;

  -webkit-appearance: none;
          appearance: none;
}

a {
  cursor: pointer;
  user-select: none;
  text-decoration: none;

  color: inherit;

  -webkit-touch-callout: none;
}

.chart-container {
  position: relative;

  background: #f1f3f6;
}

.chart-container.gapping {
  padding: 5px;
}
